body {
    color: goldenrod;
    background: lightpink;
    margin: 0px;
    font-family: "Bona Nova SC", serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px lightcoral;
    padding: 20px;
    font-size: 29px;
    color:indianred;
}

.chamada {
    background: brown;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 25px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid white;
}

.categoria h2 {
    color: indianred;
}